<h1>Carted Products: </h1>
<ol>

<% @cart.each do |item| %>
  <h3 class="thumbnail content"><li><%= item.product.name %> = <%= number_to_currency(item.product.price) %> x <%= item.quantity %> = subtotal </li></h3>

<% end %>
</ol>


<%= form_tag "#", method: :post do %>

  <%= submit_tag "Buy Now!" %>

<% end %>