<h1>Order Summary:</h1>

<% @items.each do |item| %>

  <div class="thumbnail content">
    <h3><%= item.quantity %> x <%= item.product.name %> </h3>
  </div>

<% end %>
<div class="content">
  <h4>
    <div>
      Subtotal: <%= number_to_currency(@order.subtotal) %>
    </div>

    <div>
      Tax: <%= number_to_currency(@order.tax) %>
    </div>
  </h4>

  <h3>
    <div style="color: green">
      Total: <%= number_to_currency(@order.total) %>
    </div>
  </h3>
</div>
