<h1>Order Summary:</h1>

<div class="thumbnail content">
  <h2>
    <div>
      Order Number: <%= @order.id + 52300 %>
    </div>
    <br>
    <div>
      Product: <%= @product.name %>
    </div>
    <div>
      Quantity: <%= @order.quantity %>
    </div>
  </h2>
  <h4>
    <div>
      Subtotal: <%= number_to_currency(@order.subtotal) %>
    </div>

    <div>
      Tax: <%= number_to_currency(@order.tax) %>
    </div>
  </h4>

  <h3>
    <div style="color: green">
      Total: <%= number_to_currency(@order.total) %>
    </div>
  </h3>
</div>