<h1>Carted Products: </h1>
<ol>
<div class="content well">
  <% @cart.each do |item| %>

<!--   <!%= form_tag do%>
    <input type="text" name="quantity" value="<!%= item.quantity %>">
  <!% end %> -->

    <h3 style="padding-left: 20px;"><li><%= item.product.name %> = <%= number_to_currency(item.product.price) %> x <%= item.quantity %> = <strong><%= number_to_currency(item.product.price * item.quantity) %> </strong>-


    <%= link_to  "Remove Item", "/carted_products/#{item.id}", method: :delete, class: "btn btn-danger" %>
      </li>
    </h3>


  <% end %>
  </ol>
  <div class="content" style="padding-left: 50px;">
    <%= form_tag "/orders", method: :post do %>
      <%= submit_tag "Buy Now!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>