<% @cookie.errors.full_messages.each do |error| %>
  <h2><%= error %></h2>
<% end %>


<h1>Add an item:</h1>

<%= form_tag '/cookies', method: :post do %>
  <div>
    <h2>Product Name: <input type="text" name="name" value="<%= @cookie.name %>"> </h2>
  </div>
  <div>
    <h2>Price: <input type="text" name="price" value="<%= @cookie.price %>"> </h2>
  </div>
  <div>
    <h2>Image URL: <input type="text" name="image" value=""> </h2>
  </div>
  <div>
    <h2>Description: <input type="text" name="description" value="<%= @cookie.description %>"> </h2>
  </div>
  <div>
    <h2>Supplier: <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>

  </div>
  <input type="submit" value="Submit Product">
<% end %>