<h1>Hello World</h1>

<% @items.each do |item| %>
  <div class="row items">
    <div class="col-xs-4 image-area">
      <img class="img-responsive" src="<%= item.image %>" title="<%= item.description %>">
    </div>
    <div class="col-xs-8 item-inner">
      <h2><%= item.name %>: $<%= item.price %></h2>
      <p><%= item.description %></p>
      <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
    <hr>
  </div>
<% end %>
<div class="d-flex justify-content-center">Hello</div>