
<div class="row cookie thumbnail col-xs-12 content">
  <div class="col-xs-4 image-area">
    <img class="img-responsive" src="<%= @cookie.first_image_url %>" title="<%= @cookie.description %>">
  </div>
  <div class="col-xs-8 cookie-inner">
    <h2><%= @cookie.name %>: <%= number_to_currency(@cookie.discount_item) %> </h2>
    <p><%= @cookie.description %></p>
    <p class="<%= "red-price" if @cookie.discounted? %>">Total: <%= number_to_currency(@cookie.total_price) %></p>
    <h5> <%= @cookie.supplier.name %></h5>

      <%= form_tag '/orders', method: :post do %>
        <h3>Product ID: <input type="text" name="product_id" value="<%= @cookie.id %>">
        Quantity: <input type="text" name="quantity" value="1"></h3>
        <div class="d-flex justify-content-center">
            <%= submit_tag "Buy Now!" %>
        </div>
      <% end %>
  </div>
  <hr>
  <div>
    <h4><a href="/cookies/<%= @cookie.id %>/edit">Edit Product</a></h4>
    <h4><%= link_to "Delete", "/cookies/#{@cookie.id}", method: :delete %></h4>
  </div>
</div>

<div class="content col-xs-12">
  <% @cookie.images.each do |image| %>
    <img src="<%= image.url %>" alt="">

  <% end %>
</div>